.display-flex {
  display: flex;
  justify-content: center;
}

.item {
  list-style: none;
  margin-right: 25px;
}
.imgItem {
  object-fit: cover;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
